/*#header {*/
    /*border-bottom: 1px solid rgba(10, 5, 95, 0.25);*/
    /*border-left: 1px solid rgba(10, 5, 95, 0.25);*/
    /*!*border-top: 1px solid black;*!*/
    /*margin-top: 10px;*/

/*}*/
h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    margin: 2.5% auto auto;
    color: rgba(25, 0, 120, 0.80);
    font-family: 'Archivo', sans-serif;
}
.articleHeader {
    color: rgba(0, 0, 100, 0.90);
    font-size: 45px;
    padding: 0 10px 0;
    border-left: 1.5px solid rgba(1, 100, 150, 0.45);
}
.sectionContent {
    font-size: 19px;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 40px 35px;

}
body {
    margin: 2.5% 33% 10px;
    border: 15px solid rgba(10, 5, 95, 0.25);
    /*border-bottom: 15px solid rgba(10, 5, 95, 0.25);*/
    /*border-left: 15px solid rgba(10, 5, 95, 0.25);*/
    /*border-right: 15px solid rgba(10, 5, 95, 0.25);*/
    background-color: rgba(1, 0, 0, 0.01)
}
#firstArticle {
    border-bottom: 2px solid rgba(1, 100, 150, 0.25);
    margin: 2.5% auto auto;

}
h1 {
    font-family: 'Fjalla One', sans-serif;
    /*border-bottom: 3px solid black;*/
    /*text-transform: uppercase;*/
    text-align:left;
    margin: 10px auto 10px auto;
    /*width: 50%;*/
    /*padding: 35px;*/
    color: rgba(0, 0, 1, 0.95);
    font-size: 60px;
    font-weight: lighter;

}
/*a:visited {*/
    /*color: rgb(0,0,0);*/
/*}*/
/*a:link {*/
    /*text-decoration: none;*/
    /*!*color: rgba(255, 255, 255, 0.85);*!*/
    /*color: rgb(0, 0, 0 );*/
/*}*/
/*a:hover {*/
    /*-webkit-filter: blur(0.3px);*/
    /*!*color: rgb(255, 255, 255);*!*/
    /*color: rgba(0,0,0,0.85);*/

/*}*/

