p {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-family: 'Merriweather', serif;
    font-size:150px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    text-align:center;
}

span {
    font-size: 1.5em;
}
body {
    background-color: rgba(11,11,10,.12)
}
